body {
    font-family: Helvetica, sans-serif;
}

.h1-img {
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    background-color: crimson;
    color: #ffffff;
    text-align: center;
}

.main {
    font-weight: bold;
}

.recipe {
    text-align: center;
}

.secondary {
    background-color: lightgrey;
    text-align: center;
}

